Repository bryanforbes/discord-ext-typed-commands: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-py, mypy-pyi

mypy-py:
  name: mypy python
  language: system
  entry: poetry run mypy

mypy-pyi:
  name: mypy stubs
  language: system
  entry: poetry run mypy

Update mypy.ini
  mypy.ini
Due: none

Update __init__.py
  discord/ext/typed_commands/__init__.py
Due: mypy-py

Update pyi file
  discord/ext/typed_commands/__init__.pyi
Due: mypy-pyi

Bump black from 20.8b1 to 21.5b0
  poetry.lock
  pyproject.toml
Due: none

Bump discord.py-stubs and mypy
  poetry.lock
Due: none

Use reusable workflow
  .github/workflows/unit-tests.yml
Due: none

Fix post install
  .github/workflows/unit-tests.yml
Due: none

Path conditions:
  mypy-py: any of: not (\.pyi$) and (?x)^(
    discord/.*\.pyi?$|
    tests/.*\.py$
)$

  mypy-pyi: any of: not (\.py$) and (?x)^(
    discord/.*\.pyi?$|
    tests/.*\.py$
)$

